html {
  position: relative;
  min-height: 100%
}

/* body {
  margin-bottom: 100px !important;
} */

.container {
  /* background-color: cornsilk; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100% !important;
}

.section {
  margin: 0px 0px 40px 0px;
}

.header {
  height: 40px;
  width: 100%;
  background-color: darkolivegreen;
  text-align: center;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  margin-left: 16px;
}

.header-menu > button {
  background-color: yellowgreen;
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
}

.header-menu > button:active {
  background-color: yellow;
}

.display-counter {
  width: 100%;
  height: 256px;
  /* background-color:darkslategray; */
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 256px;
  height: 256px;
  border-radius: 100%;
  background-color: fuchsia;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.number {
  font-size: 100px;
  /* background-color: turquoise; */
  margin: 0px;
}

.unit {
  /* background-color: springgreen; */
  font-size: 16px;
}


.btn-counter {
  width: 100%;
  /* background-color: dodgerblue; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 100px;
  /* background-color: forestgreen; */
}

.btn > button {
  border-radius: 100%;
  background-color: gold;
  border: none;
  outline: none;
}

.btn > button:active {
  background-color: goldenrod;
}

.btn-md > button{
  width: 100%;
  height: 100%;
}

.ml-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.footer {
  position: absolute;
  width: 100%;
  margin-top: 1000px;
  padding-top: 10px;
  padding-bottom: 10px;
  bottom: 0;
  text-align: center;
  background-color: darkturquoise;
}
